*{
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;

}
:root{
    --gradient:linear-gradient(
        45deg,
        #2A5783,
        #3E6C99,
        #6798C1,
        #8BBADC,
        #B9DDF1


    );
    --gradient1:linear-gradient(
        45deg,
        hsl(29, 84%, 80%),
        hsl(54, 82%, 80%)
       
    );
}
.head{
    min-height: 100vh;
    width: 100%;
   background-image:url(images/pxfuel.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}
nav{

    position: fixed;
    width:70px;
    margin-top: 190px;
    box-shadow: 2px 2px 8px 0#333A70;
}

nav li{
    height: 75;
    position: relative;
    


}
nav li a{
    color: #333A70;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    line-height: 60px;
    padding-left: 10px;
    border-bottom: 1px solid #333A70;
    text-decoration: none;
    font-size: 2rem;
    transition-property: width;

}
nav li a span{
    display: none;
    position:relative;
    float: right;
}

a:hover{
    z-index: 1;
    width: 200px;
    border-bottom: 1px solid #333A70;
}
ul li a:hover span{
    display: block;
    padding: right 10px;
}
/*
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #333A70;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
*/

.textbox{
    width: 70%;
    color: #ffffff;
    float: right;
    position: relative;
    top: 100px;
    font-size:40px;
}
.textbox p{
    text-align:right;
    position: relative;
    right: 250px;
    padding-top: 10px;
}
.f{
    width: 15%;
    font-size: 50px;
    color:#fff;
    position: absolute;
    top: 70%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    
}
.f{
    display: inline-block;
    text-decoration: none;
    border:1px solid #fff;
    background: transparent;
    cursor: pointer;
}
.f:hover{
    background: #000;
    transition: 1s;
    color: #fff;
}
 
/*-----ABOUT----*/
.about{
    width: 100%;
    min-height: 100vh;
    background: #000;
    
    
}
.abt{
    max-width: 70rem;
    margin: 0 auto;
    background-image: url(images/Screenshot\ 2023-03-21\ 181738.png);
    padding: 10px;
    border-radius: 20px;
}
.about h1{
    color: #fff;
    font-size: 2.5rem;
    margin-top: 20px ;
    margin-left: 400px;
    margin-bottom: 20px;
    
}
.abt2{
    color: #fff;
    font-size: 1.1rem;
    margin: 50px;
    
}


/*-----TABLEAU----*/
.tableau{
    width: 100%;
    min-height: 100vh;
    background: #000;
}
.tableauPlaceholder{
    top: 70px;
    left: 150px;
}
.tb{
    width: 350px;
    height: 600px;
    background-image: url(images/Screenshot\ 2023-03-21\ 181738.png);
    background-size: cover;
    position: relative;
    float: right;
    z-index: 50;
    top: 70px;
    right: 100px;
    text-align: center;
    color: #ffffff;
    position: relative;

}
.tb h1{
    font-size: 1.5rem;
    padding-top: 50px;
}
.tb p{
    columns: #fff;
}
.tb a{
     text-decoration: none;
     color: #fff;
     bottom: 0px;
}
.bttn{
    width: 70%;
    border: grey solid;
    position: absolute;
    top: 250px;
    left: 37px;
    padding: 15px;
    background-color: grey;
    border-radius: 20px;
    
}
.bttn:hover{
    
    background: #000;

}
.abc{
    font-size: 1rem;
}



.python1{
    width: 100%;
    min-height: 100vh;
    background: #000;
    
}
.container1{
    width: 50%;
    height: 100vh;

}
.pyt{
    position: relative;
    left: 700px;
    top: 40px;
}
.py1{
    position: relative;
    float: left;
    z-index: 50;
    top: 300px;
    left: 150px;
    text-align: center;
    color: #ffffff;
}

.d3, .gephi{
    width: 100%;
    min-height: 100vh;
    background: #000;
}
embed{
    border-radius: 20px;
}


.a12{
    width: 70%;
    position: relative;
    left: 250px;
    padding: 10px;
}
.gephi h1{
    color: #fff;
    font-size: 3rem;
    top: 10px;
    text-align: center;
}
